<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/pizza_orders">Pizza Orders</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  <ul>
    <li>
      <form method="get" action="/pizza_orders/new">
        <input type="submit" value="Enter New Order">
      </form>
    </li>
  </ul>
</body>
</html>
